*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig
db/__pycache__/
login/__pycache__/
main/__pycache__/
people/__pycache__/
admin/__pycache__/
timer/__pycache__/
pkg/
src/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.bak
*.backup
*.swp
.DS_Store
.idea/
.vscode/